@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header__nav{
    background: var(--color-1);
    display: flex;
    flex-direction: row;
}
.header__menu{
    float: right;
}
.footer{
    position: fixed;
    width: 100%;
    bottom:0px;
}
.footer__ul{
    display: flex;
    flex-direction: row;
    background: var(--color-1);
    justify-content: space-evenly;
    align-items: center;
}
.footer__ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__ul li a{
    display: flex;
}
.footer__ul li a img{
    object-fit: contain;
}