@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footer{
    position: fixed;
    bottom: 10px;
    width: 100%;
}
.footer__ul{
    display: flex;
    flex-direction: row;
    background: var(--color-1);
}
.footer__ul li{
    display: flex;
}
.footer__ul li a{
    display: flex;
}