<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/budget.css">
    <title>Budget</title>
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div class="header__home">
                <a href="../index.html">
                    <img src="../storage/img/frameWhite.svg" alt="">
                </a>
                <div>INVETO</div>
            </div>
            <div class="header__menu">
                <a href="#">
                    <img src="../storage/img/menuWhite.svg" alt="">
                </a>
            </div>
        </nav>
    </header>
    <main class="main">
        <section></section>
        <section></section>
        <section></section>
        <section></section>
        <section class="notification_transaction">
            <img src="../storage/img/card.svg" alt="">
            <button>X</button>
        </section>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../storage/img/home.svg" alt="">
                </a>
            </li>
            <li>
                <a href="budget.html">
                    <img src="../storage/img/book.svg" alt="">
                </a>
            </li>
            <li>
                <a href="services.html">
                    <img src="../storage/img/utilities.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/notification.svg" alt="">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/img/profile.svg" alt="">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>