<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="../css/services.css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div class="header__home">
                <a href="#">
                    <img src="../storage/img/frameBlack.svg" alt="">
                </a>
                <div>INVETO</div>
            </div>
            <div class="header__menu">
                <a href="#">
                    <img src="../storage/img/menuBlack.svg" alt="">
                </a>
            </div>
        </nav>
    </header>
    <main class="main">
        <section class="main_section_tips">
            <h1>Investing Tips</h1>
            <div class="investing_information">
                <div class="investing_information_content">
                    <div class="space_icon">
                        <img src="../storage/img/savingPorky.svg" alt="">
                    </div>
                    <div class="information_bitcoin">

                        <h3>What is an ETF?</h3>
                        <h5>By James B, PHD</h5>
                        <button>LEARN MORE</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="main_section_cards">
            <h1>My Cards (4)</h1>
            <div class="card_list">
                <div class="card__content">
                    <div class="card__general"></div>
                </div>
                <div class="card__content">
                    <div class="card__general"></div>
                </div>
                <div class="card__content">
                    <div class="card__general"></div>
                </div>
                <div class="card__content">
                    <div class="card__general"></div>
                </div>
                <div class="card__content">
                    <div class="card__general"></div>
                </div>
                <div class="card__content">
                    <div class="card__general"></div>
                </div>
                
                
                
                
                
                
            </div>
        </section>
    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../storage/img/home.svg" alt="">
                </a>
            </li>
            <li>
                <a href="budget.html">
                    <img src="../storage/img/book.svg" alt="">
                </a>
            </li>
            <li>
                <a href="services.html">
                    <img src="../storage/img/utilities.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/notification.svg" alt="">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/img/profile.svg" alt="">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>