<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="../css/services.css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div class="header__home">
                <a href="#">
                    <img src="storage/img/" alt="">
                </a>
                <div>INVETO</div>
            </div>
            <div class="header__menu">
                <a href="#">
                    <img src="storage/img/menu.svg" alt="">
                </a>
            </div>
        </nav>
    </header>
</body>
</html>